.App {
  font-family: sans-serif;
  text-align: center;
}
.list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.tab {
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  background-color: chocolate;
  padding: 5px 10px;
  border-radius: 10px;
}
.active {
  background-color: cornflowerblue;
}
.tab:active {
  opacity: 0.5;
}
.remove {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
